<div class="form-map">
    <form [formGroup]="formDestination" (ngSubmit)="tracer()">
        <mat-form-field appearance="fill">
            <mat-label>Nom voiture</mat-label>
            <input (focusout)="getVoitures()" matInput formControlName="nom" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="voiture" placeholder="Voiture">
              <mat-option *ngFor="let voiture of voitureList" [value]="voiture">
                <img height="50" src="{{voiture.media?.image?.thumbnail_url}}">
                {{ voiture.naming.make || "" }}
                {{ voiture.naming.model || "" }}
                {{ voiture.naming.version || "" }}
                {{ voiture.naming.edition || "" }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Départ</mat-label>
            <input (focusout)="getDepart()" matInput formControlName="depart" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="valueDepart" placeholder="Départ">
              <mat-option *ngFor="let place of placesDepart" [value]="place">
                {{ place.display_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Arrivée</mat-label>
            <input (focusout)="getArrivee()" matInput formControlName="arrivee" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="valueArrivee" placeholder="Arrivée">
              <mat-option *ngFor="let place of placesArrivee" [value]="place">
                {{ place.display_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Tracer l'itinéraire</button>
    </form>
    
</div>
