.form-map{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 401;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    align-items: center;
}

.radio-form{
    display: flex;
    flex-direction: row;
    width: 180px;
    flex-wrap: wrap;
}