<div class="form-map">
    <form [formGroup]="formDestination" (ngSubmit)="tracer()">
        <mat-form-field appearance="fill">
            <mat-label>Nom voiture</mat-label>
            <input (focusout)="getVoitures()" matInput formControlName="nom" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="voiture" placeholder="Voiture">
              <mat-option *ngFor="let voiture of voitureList" [value]="voiture">
                <img height="50" src="{{voiture.media?.image?.thumbnail_url}}">
                {{ voiture.naming.make || "" }}
                {{ voiture.naming.model || "" }}
                {{ voiture.naming.version || "" }}
                {{ voiture.naming.edition || "" }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Départ</mat-label>
            <input (focusout)="getDepart()" matInput formControlName="depart" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="valueDepart" placeholder="Départ">
              <mat-option *ngFor="let place of placesDepart" [value]="place">
                {{ place.display_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Arrivée</mat-label>
            <input (focusout)="getArrivee()" matInput formControlName="arrivee" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="valueArrivee" placeholder="Arrivée">
              <mat-option *ngFor="let place of placesArrivee" [value]="place">
                {{ place.display_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <Label>Comparer à un autre transport ?</Label>
        <mat-radio-group formControlName="otherTypeTrasport" class="radio-form">
          <mat-radio-button value="null">Non</mat-radio-button>
          <mat-radio-button value="PogoStick">PogoStick</mat-radio-button>
          <mat-radio-button value="APied">A pieds</mat-radio-button>
          <mat-radio-button value="Velo">Vélo</mat-radio-button>
          <mat-radio-button value="Cheval">Cheval</mat-radio-button>
        </mat-radio-group>
        

        <button mat-raised-button color="primary" type="submit">Tracer l'itinéraire</button>

        <p *ngIf="tempsMinutesOtherParent">{{(tempsMinutesOtherParent - tempsMinutesOtherParent % 60) / 60}} H et {{tempsMinutesOtherParent % 60}} minutes en {{formDestination.controls['otherTypeTrasport'].value}}</p>
        <p *ngIf="tempsMinutesParent">{{(tempsMinutesParent - tempsMinutesParent % 60) / 60}} H et {{tempsMinutesParent % 60}} minutes en voiture</p>

    </form>
    
</div>
